Welcome to example.com, Sir!
===============================================
 
You have successfully signed up to example.com,
your username is: <%= @register[:email] %>.
 
Thanks for joining and have a great day!