<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Neo Truck Web Site</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respondfeatures.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <!-- <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#features-foodtruck">Funcionalidades do dono de carrinho</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features-user">Funcionalidades do consumidor</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#signup">Cadastre-se</a>
                    </li>
                    <li>
                        <%= link_to 'Login', "login", :class=>"page-scroll" %>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <header>
        <!-- <div class="header-content"> -->
            <div class="header-content-inner">
                <div class="title-text"> Painel de Controle </div>
            </div>
        <!-- </div> -->
        <!-- <div class="header-content"> -->
            <div class="col-lg-8 col-lg-offset-2 text-center">


                <%= form_for(:truck, url: {:controller => "controlpanel", :action => "update"}, :html => {:class => 'form-email'}) do |f| %>
                    <%= f.text_field :name, value: @current_truck.name, placeholder: "nome", required: true %> <br/>
                    <%= f.text_area :description, value: @current_truck.description, placeholder: "descrição" %> <br/>
                    
                    

                    <%= f.collection_select(:category, Category.all, :id, :name,
                        prompt: "SELECIONE CATEGORIA",
                        selected: @current_truck.categories.present? ? @current_truck.categories.id : nil) %>

                    <br/>

                    <%= f.submit "Atualizar", class: "btn btn-primary btn-xl" %>
                <% end %>
                <%= form_for(:truck, url: {:controller => "uploader", :action => "create"}, :html => { :multipart => true }) do |f| %>
                    <%= f.file_field :avatar %>
                    <%= f.submit "Enviar Avatar" %>
                <% end %>
                <%= form_for(:truck, url: {:controller => "uploader", :action => "create"}, :html => { :multipart => true }) do |f| %>
                    <%= f.file_field :cover %>
                    <%= f.submit "Enviar Cover" %>
                <% end %>


                <table>
                    <tr>
                        <th>Nome prato</th>
                        <th>Descrição prato</th>
                        <th>Preço prato</th>
                        <th>Foto</th>
                        <th>Função</th>
                    </tr>

                    <% @current_truck.dishes.each do |dish| %>
                    <tr>
                        <td> <%= dish.name %> </td>
                        <td> <%= dish.description %> </td>
                        <td> <%= dish.price %> </td>
                        <td> <%= "/trucks/#{@current_truck.id}/dishes/#{dish.picture.filename}" %> </td>

                            <td>
                            <%= button_to "apagar", { controller: "dishes", action: "destroy" , id: dish.id}, method: :delete, data: { confirm: "Are you sure?" } %>
                             </td>
                    </tr>
                    <% end %>

                    <tr>
                        <%= form_for(:dish, url: {:controller => "dishes", :action => "create"}) do |f| %>
                            <td> <%= f.text_field :name, placeholder: "nome", required: true %> <br/> </td>
                            <td> <%= f.text_field :description, placeholder: "descrição", required: true %> <br/> </td>
                            <td> <%= f.text_field :price, placeholder: "preço" %> <br/> </td>
                            <td> <%= f.file_field :picture %> </td>
                            <td> <%= f.submit "criar novo", class: "btn btn-primary btn-xl" %> </td>
                        <% end %>
                    </tr>
                </table>

            </div>
        <!-- </div> -->

        <!-- <section id="features-foodtruck">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Diga mais sobre seu food truck</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-check-square text-primary sr-icons"></i>
                            <h3>Cadastre-se</h3>
                            <p class="text-muted"><%= current_user.username %></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-bullhorn text-primary sr-icons"></i>
                            <h3>Divulgue</h3>
                            <p class="text-muted">Divulgue seu trabalho e localização</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    </header>

    

    <!-- <section id="features-user">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Diga mais sobre seu food truck</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map text-primary sr-icons"></i>
                        <h3>Localize</h3>
                        <p class="text-muted">Encontre seus food trucks em sua cidade</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-search text-primary sr-icons"></i>
                        <h3>Encontre</h3>
                        <p class="text-muted">Pesquise e filtre pelos seus gostos e encontre seus food trucks favoritos</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-info text-primary sr-icons"></i>
                        <h3>Acompanhe</h3>
                        <p class="text-muted">Veja mais informações sobre os food trucks e seus produtos</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-calendar text-primary sr-icons"></i>
                        <h3>Quando</h3>
                        <p class="text-muted">Acompanhe quando os food trucks apareceram em sua cidade</p>
                    </div>
                </div>
            </div>
        </div>

        
    </section> -->

    <!-- <section id="signup">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Como participar?</h2>
                    <hr class="primary">
                    <p>Cadastra seu food truck e ajude os seus consumidores</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <form class="form-email" data-success="Obrigado! Entraremos em contato em breve!" data-error="Por favor preencha os campos corretamente.">
                        <input type="text" class="validate-required field-error" name="name" placeholder="nome">
                        <br>
                        <input type="text" class="validate-required validate-email field-error" name="email" placeholder="email">
                        <br>
                        <input type="text" class="validate-required field-error" name="food-truck-name" placeholder="nome do food truck">
                        <br>
                        <button type="submit" class="btn btn-primary btn-xl">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </section> -->

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>

</html>
