<!DOCTYPE html>
<html lang="br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Neo Truck Web Site</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respondfeatures.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <header>
        <div class="header-content">
            <div class="title-text">Login</div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <%= form_for(:session, url: login_path, :html => {:class => 'form-email'}) do |f| %>
                    <%= f.text_field :login, placeholder: "email/username", autofocus: true, required: true %> <br/>
                    <%= f.password_field :password, placeholder: "senha" %> <br/>
                    <%= f.submit "Entrar", class: "btn btn-primary btn-xl" %>
                <% end %>
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="vendor/jquery/jqueryfeatures.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrapfeatures.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easingfeatures.js"></script>
    <script src="vendor/scrollreveal/scrollrevealfeatures.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popupfeatures.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creativefeatures.js"></script>

</body>

</html>
