<!DOCTYPE html>
<html lang="br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>diRua</title>

        <!-- Bootstrap Core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Theme CSS -->
        <link href="css/creative.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respondfeatures.js"></script>
        <![endif]-->

    </head>
    <body id="page-top">
        <% if flash[:notice].present? %> <script>alert("<%="#{flash[:notice]}"%>")</script> <% end %>
        
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#features-user">Funcionalidades do consumidor</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#consumersignup">Cadastre-se</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#features-foodtruck">Funcionalidades do dono de carrinho</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#foodtrucksignup">Seja um parceiro</a>
                        </li>
                        <li>
                            <%= link_to 'Login', "login", :class=>"page-scroll" %>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <div class="title-text">Um novo jeito de ver</div>
                    <div class="title-text">as comidas de rua</div>
                    <br>
                    <a href="#signup" class="btn btn-primary btn-xl page-scroll">Comece já</a>
                </div>
            </div>
        </header>

        <section id="features-user">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Você, consumidor</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-map text-primary sr-icons"></i>
                            <h3>Localize</h3>
                            <p class="text-muted">Encontre seus food trucks em sua cidade</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-search text-primary sr-icons"></i>
                            <h3>Encontre</h3>
                            <p class="text-muted">Pesquise e filtre pelos seus gostos e encontre seus food trucks favoritos</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-info text-primary sr-icons"></i>
                            <h3>Acompanhe</h3>
                            <p class="text-muted">Veja mais informações sobre os food trucks e seus produtos</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-calendar text-primary sr-icons"></i>
                            <h3>Quando</h3>
                            <p class="text-muted">Acompanhe quando os food trucks apareceram em sua cidade</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="consumersignup">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Como participar?</h2>
                        <hr class="primary">
                        <p>Avisaremos quando lançar</p>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <%= form_for(:consumer, url: {:controller => "website/home", :action => "create"}) do |f| %>
                            <%= f.email_field :email, placeholder: "email", required: true %> <br/>
                            <%= f.radio_button :os, 0, :checked => true %>
                            <%= label_tag(:os_android, "Utilizo Android") %> <br/>
                            <%= f.radio_button :os, 1 %>
                            <%= label_tag(:os_ios, "Utilizo iOS") %> <br/>
                            <%= f.radio_button :os, 2 %>
                            <%= label_tag(:os_others, "Outros") %> <br/>
                            <%= f.submit "cadastrar", class: "btn btn-primary btn-xl" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </section>

        <section id="features-foodtruck">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Você, dono de carrinho</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-check-square text-primary sr-icons"></i>
                            <h3>Cadastre-se</h3>
                            <p class="text-muted">Cadastre seu carrinho para seus consumidores te encontrarem</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-bullhorn text-primary sr-icons"></i>
                            <h3>Divulgue</h3>
                            <p class="text-muted">Divulgue seu trabalho e localização</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                       
                    </div>
                </div>
            </div>
        </section>

        <section id="foodtrucksignup">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Como ser nosso parceiro?</h2>
                        <hr class="primary">
                        <p>Cadastre seu food truck e ajude os seus consumidores</p>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <%= form_for(:truck, url: {:controller => "website/home", :action => "create"}) do |f| %>
                            <td> <%= f.text_field :name, placeholder: "nome", required: true %> <br/> </td>
                            <td> <%= f.email_field :email, placeholder: "email", required: true %> <br/> </td>
                            <td> <%= f.text_field :truck, placeholder: "food truck" %> <br/> </td>
                            <td> <%= f.text_field :phonenumber, placeholder: "telefone" %> <br/> </td>
                            <td> <%= f.submit "cadastrar", class: "btn btn-primary btn-xl" %> </td>
                        <% end %>
                    </div>
                </div>
            </div>
        </section>

        <!-- jQuery -->
        <script src="vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Theme JavaScript -->
        <script src="js/creative.min.js"></script>

    </body>

</html>
